extends indices-layout

block intro
  p Le citazioni sono riportate in ordine di apparazione nelle lettere, con indicazione dell'attribuzione.

block index-table
      for x in quotations
       section.dropDown
        h3= x.BIBLIOGRAPHICCIT
        blockquote= x.QUOTATION
        p= 'ATTRIBUZIONE: ' + x.ATTRIBUTION 
         if x.AUTHORITYWORK
          span= ' (' 
           a(href=x.AUTHORITYWORK)= x.AUTHORITYWORK 
           span )
         else 
          span  -
        p= 'AUTORE: ' + x.AUTHOR 
         if x.AUTORITYAUTHOR
          span= ' (' 
           a(href=x.AUTORITYAUTHOR)= x.AUTORITYAUTHOR
           span )
         else 
          span  -
        p LETTERE: 
         span(class='letter html')
          a(href=x.LETTERS)