extends browse-layout

block list-names 
  h2 I mittenti
  for x in senderLetters
    section.dropDown
      h3= x.person
       span= ' [' + x.letter.length + ']'
      p.html LETTERE: 
       for y,z in x.letter
        span.letter
         a(href=y.value)= y.value + '   '
  h2 I destinatari
  for x,i in addresseeLetters
    section.dropDown
      h3= x.person
       span= ' [' + x.letter.length + ']'
      p.html LETTERE: 
       for y,z in x.letter
        span.letter
         a(href=y.value)= y.value + '   '
