extends indices-layout

block intro
  p Le lettere sono state numerate progressivamente per data. Lettere che hanno una datazione compresa in un arco cronologico esteso e determinabile sono state posizionate in fondo all'elenco. Stesso trattamento è stato riservato alle lettere per le quali non è certa l'attribuzione cronica [?].

block index-table
  for x in letters
        section.dropDown
          h3= x.ITEM
          p.html
           a(href=x.HTML) Vai all'edizione digitale
          p= 'Segnatura: ' + x.SHELFMARK
          p= 'Mittente: ' + x.SENDER
          p= 'Destinatario: ' + x.ADDRESSEE
          p= 'Data cronica: ' + x.DATE
          p= 'Data topica: ' + x.PLACE
          p Immagini
          for y in x.ICONS
              - var src_img = ".."+y
              img(src=src_img)
